@use "@/variables";

.controlPanel {
  max-width: 12.5rem;
  width: 100%;
  padding: var(--spacing-sm);
  border-left: 1px solid var(--color-separator);
  background: var(--color-background);
  overflow-y: auto;
}

@media (max-width: variables.$breakpoint-md) {
  .controlPanel {
    display: none;
    background-color: green;
  }
}
