:root {
  --color-primary: rgb(55, 226, 95);
  --color-secondary: rgb(1, 1, 1);
  --color-background: rgb(255, 255, 255);
  --color-surface: rgb(212, 177, 231);
  --color-text: rgb(0, 0, 0);
  --color-text-secondary: rgb(0, 0, 0);
  --color-border: rgb(0, 0, 0);
  --color-disabled-background: rgb(153, 153, 153);
  --color-disabled-foreground: rgb(0, 0, 0);
  --color-separator: rgb(155, 155, 155);
  --color-link-default: rgb(91, 121, 97);
  --color-link-active: rgb(0, 118, 0);
  --color-link-hover: rgb(233, 255, 233);
  --color-modal-background: rgba(255, 255, 255, 0.75);
  --color-detail-background: rgb(182, 182, 182);
  --color-detail-content-background: rgb(255, 255, 255);
  --color-dropdown-button-hover: rgb(208, 208, 208);

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --typography-font-family: "";
  --typography-font-size-sm: 1rem;
  --typography-font-size-md: 1.2rem;
  --typography-font-size-lg: 1.5rem;
  --typography-font-weight-regular: 400;
  --typography-font-weight-medium: 500;
  --typography-font-weight-bold: 700;
  --typography-line-height-body: 1;
  --typography-line-height-heading: 1.5;

  --breakpoints-sm: 480px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;

  --radii-sm: 0.25rem;
  --radii-md: 0.5rem;
  --radii-lg: 1rem;

  --z-indices-dropdown: 1;
  --z-indices-modal: 2;
  --z-indices-tooltip: 3;

  --container-widths-narrow: 30rem;
  --container-widths-content: 48rem;
  --container-widths-wide: 72rem;
  --container-widths-modal: 37.5rem;
}
